{% extends "base.html" %}

{% block content %}
    <form action = '/newpost' method = 'POST'>
        <table>
            <tr>
                <td>
                    <label>Title:</label>
                </td>
                <td>
                    <input type="text" name="title" value= "{{title}}" />
                    <span>{{title_error}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Content:</label>
                </td>
                <td>
                    <textarea name="content" rows= "5" cols="50">{{content}}</textarea> 
                    <span>{{content_error}}</span>
                </td>
            </tr>
        </table>
        <br>
        <input type= "submit" value= "create new post" />
    </form>






{% endblock %}